#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#widget-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/*.widget-wrapper {*/
/*  position: fixed;*/
/*}*/

/*.widget-wrapper-1 {*/
/*  bottom: 10px;*/
/*  right: 10px;*/
/*}*/

/*.widget-wrapper-2 {*/
/*  bottom: 10px;*/
/*  right: 60px; !* Adjust this value to position the second widget *!*/
/*}*/

/*.widget-wrapper-1 .aichatbot-widget-window .aichatbot-widget-button {*/
/*  bottom: 10px;*/
/*  right: 10px;*/
/*}*/

/*.widget-wrapper-2 .aichatbot-widget-window .aichatbot-widget-button {*/
/*  bottom: 10px;*/
/*  right: 60px; !* Adjust this value to position the second button *!*/
/*}*/

#widget-container .widget-wrapper-1 .aichatbot-widget-window .aichatbot-widget-button {
  position: fixed !important;
  bottom: 10px !important;
  right: 10px !important;
}

#widget-container .widget-wrapper-2 .aichatbot-widget-window .aichatbot-widget-button {
  position: fixed !important;
  bottom: 10px !important;
  right: 60px !important; /* Adjust this value to position the second button */
}
