body {
  font-family: Arial, sans-serif;
}

.container {
  flex-direction: column;
}

.undefined-list {
}

.graph-container {
  max-width: 800px;
  min-height: 600px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.space-left {
  flex-grow: 1;
  border-right-style: solid;
  border-right-color: #2C2C2C;
  border-right-width: 1px;
}

.space-right {
  flex-grow: 1;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #2C2C2C;
}

.table-header {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table-cell {
  width: 25%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.page-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
